  - win_chocolatey:
      name: openssh
      state: latest
      package_params: /SSHServerFeature
    register: package
    tags: package

  - name: open port {{ opt_openssh_port }} for inbound SSH connections
    win_firewall_rule:
      name: Win32-OpenSSH inbound
      protocol: tcp
      localport: 22
      direction: in
      action: allow
      state: present
      enabled: yes
      profiles: domain,private
    tags: firewall

  - win_service:
      name: sshd
      state: started
      start_mode: delayed
    when: package is changed
    tags: service

  - name: Configure SSH via registry
    win_regedit:
      path: HKLM:\SOFTWARE\OpenSSH
      name: '{{ item.name }}'
      data: '{{ item.data|default(None) }}'
      type: "{{ item.type|default('dword') }}"
      state: "{{ item.state|default('present') }}"
    with_items:
    - name: DefaultShell
      type: string
      data: C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe
    - name: DefaultShellCommandOption
      type: string
      data: /c
      state: absent
    - name: DefaultShellEscapeArguments
      data: 0
      state: absent
    tags: registry

  - win_file:
      path: '%USERPROFILE%/.ssh/'
      state: directory
    tags: key