- name: Clone private repo locally
  ansible.builtin.git:
    repo: git@github.com:Jrhenderson11/misc_tools.git
    dest: /tmp/misc_tool
    version: master
  delegate_to: localhost
  run_once: true

- name: Copy repo to server
  ansible.builtin.copy:
    src: /tmp/misc_tool/
    dest: "{{ ansible_user_dir }}/tools/misc_tools"

- name: Cleanup local clone
  ansible.builtin.file:
    path: /tmp/misc_tool
    state: absent
  delegate_to: localhost
  run_once: true