
---
- name: Remove previous OMZ
  ansible.builtin.shell: "rm -rf {{ ansible_user_dir }}/.oh-my-zsh"

- name: Download OMZ
  ansible.builtin.get_url: 
    url: https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh
    dest: /tmp/omz_install.sh
    mode: '0755'


- name: Install OMZ
  ansible.builtin.command: zsh /tmp/omz_install.sh --unattended

- name: remove tmp script
  ansible.builtin.file: 
    path: /tmp/omz_install.sh
    state: 'absent'


- name: Install external plugins
  ansible.builtin.git:
    repo: "{{ item.repo }}"
    dest: "{{ ansible_user_dir }}/.oh-my-zsh/custom/plugins/{{ item.name }}"
    depth: 1
  loop:
    - { name: zsh-autosuggestions, repo: "https://github.com/zsh-users/zsh-autosuggestions" }
    - { name: zsh-completions, repo: "https://github.com/zsh-users/zsh-completions" }
    - { name: evalcache, repo: "https://github.com/mroth/evalcache" }
    - { name: fast-syntax-highlighting, repo: "https://github.com/zdharma-continuum/fast-syntax-highlighting" }
    - { name: you-should-use, repo: "https://github.com/MichaelAquilina/zsh-you-should-use" }

- name: Configure plugins in .zshrc
  ansible.builtin.lineinfile:
    path: "{{ ansible_user_dir }}/.zshrc"
    regexp: '^plugins=\('
    line: >-
      plugins=(git
      colored-man-pages
      colorize
      ufw
      ubuntu
      command-not-found
      git-auto-fetch
      ssh-agent
      docker
      zsh-autosuggestions
      zsh-completions
      evalcache
      fast-syntax-highlighting
      you-should-use)

- name: cleanup old configs
  ansible.builtin.shell:
    - path: "rm {{ ansible_user_dir}}/.zshrc.pre-oh-my-zsh*" 