- name: clean prev golang
  shell: rm -rf /usr/local/go && 
  ignore_errors: yes
  failed_when: false
  changed_when: false

- name: Download Golang source
  get_url:
    url: https://go.dev/dl/go1.22.3.linux-amd64.tar.gz
    dest: "{{ tmp_archive }}"
 
- name: Unpack
  shell: "tar -C /usr/local -xzf {{ tmp_archive }}"
  become: true

- name: Add go to path
  shell: echo "export PATH=$PATH:/usr/local/go/bin" >> /etc/environment
  become: true

- name: Ensure GOROOT is set in ~/.zshrc
  ansible.builtin.lineinfile:
    path: "{{ ansible_env.HOME }}/.zshrc"
    regexp: '^export GOROOT='
    line: 'export GOROOT={{ goroot }}'
    create: yes
    mode: '0644'

- name: Ensure GOPATH is set in ~/.zshrc
  ansible.builtin.lineinfile:
    path: "{{ ansible_env.HOME }}/.zshrc"
    regexp: '^export GOPATH='
    line: 'export GOPATH={{ gopath }}'
    create: yes
    mode: '0644'

- name: Add Go bin directories to PATH in ~/.zshrc
  ansible.builtin.lineinfile:
    path: "{{ ansible_env.HOME }}/.zshrc"
    regexp: '^export PATH=.*\$GOROOT/bin.*\$GOPATH/bin'
    line: 'export PATH=$GOROOT/bin:$GOPATH/bin:$PATH'
    create: yes
    mode: '0644'
