- name: Create tools directory
  file:
    path: "{{ ansible_env.HOME }}/tools/cloud"
    state: directory
    mode: '0755'

- name: Check if AWS CLI is installed
  command: which aws
  register: aws_check
  ignore_errors: yes
  changed_when: false

- name: Download AWS CLI
  get_url:
    url: https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip
    dest: /tmp/awscliv2.zip
  when: aws_check.rc != 0

- name: Unzip AWS CLI
  unarchive:
    src: /tmp/awscliv2.zip
    dest: /tmp
    remote_src: yes
  when: aws_check.rc != 0

- name: Install AWS CLI
  command: /tmp/aws/install --install-dir {{ ansible_env.HOME }}/tools/cloud/aws-cli --bin-dir {{ ansible_env.HOME }}/.local/bin --update
  when: aws_check.rc != 0
