---
# https://waylonwalker.com/install-rust/
- name: check if cargo is installed
  shell: command -v cargo
  register: cargo_exists
  ignore_errors: true
  failed_when: false
  changed_when: false

- name: install
  when: cargo_exists.rc != 0
  block:
  - name: Download Installer
    get_url:
      url: https://sh.rustup.rs
      dest: /tmp/rust.sh
      mode: '0755'
      force: 'yes'
    tags:
      - rust

  - name: Install rust/cargo
    shell: CARGO_HOME=/usr/local/cargo RUSTUP_HOME=/usr/local/rustup /tmp/rust.sh -y --no-modify-path
    tags:
      - rust
    become: true

  - name: Add rust to user profile
    ansible.builtin.blockinfile:
      path: "{{ ansible_user_dir }}/.zshrc"  # or .profile, .zshrc
      marker: "# {mark} RUST"
      block: |
        export CARGO_HOME="/usr/local/cargo"
        export RUSTUP_HOME="/usr/local/rustup"
        export PATH="/usr/local/cargo/bin:$PATH"