---

- name: Set rust vars
  ansible.builtin.set_fact:
    rust_env:
      PATH: "{{ ansible_env.HOME }}/.cargo/bin:{{ ansible_env.PATH }}"
      CARGO_HOME: "{{ ansible_env.HOME }}/.cargo"

- name: Check if cargo is installed
  shell: command -v cargo
  register: cargo_exists
  ignore_errors: true
  failed_when: false
  changed_when: false

- name: install
  when: cargo_exists.rc != 0
  block:
  - name: Download Installer
    get_url:
      url: https://sh.rustup.rs
      dest: /tmp/rust.sh
      mode: '0755'
      force: 'yes'
    tags:
      - rust

  - name: Install rust/cargo
    shell: "CARGO_HOME={{ ansible_env.HOME }}/.cargo RUSTUP_HOME={{ ansible_env.HOME }}/.rustup /tmp/rust.sh -y --no-modify-path"
    tags:
      - rust

  - name: Set rust default toolchain
    ansible.builtin.command: "{{ ansible_env.HOME }}/.cargo/bin/rustup default stable"
    environment: "{{ rust_env }}"
    args:
      creates: "{{ ansible_env.HOME }}/.rustup/toolchains/stable-*"

  - name: Add rust to user profile
    ansible.builtin.blockinfile:
      path: "{{ ansible_user_dir }}/.zshrc"  # or .profile, .zshrc
      marker: "# {mark} RUST"
      block: |
        export CARGO_HOME="{{ ansible_env.HOME }}/.cargo"
        export RUSTUP_HOME="{{ ansible_env.HOME }}/.rustup"
        export PATH="{{ ansible_env.HOME }}/.cargo/bin:$PATH"