---
# https://waylonwalker.com/install-rust/
- name: check if cargo is installed
  shell: command -v cargo
  register: cargo_exists
  ignore_errors: true
  failed_when: false
  changed_when: false

- name: install
  when: cargo_exists.rc != 0
  block:
  - name: Download Installer
    get_url:
      url: https://sh.rustup.rs
      dest: /tmp/rust.sh
      mode: '0755'
      force: 'yes'
    tags:
      - rust

  - name: Install rust/cargo
    shell: /tmp/rust.sh -y
    tags:
      - rust
    become: true

  - name: Add rust to user profile
    ansible.builtin.blockinfile:
      path: "{{ ansible_user_dir }}/.zshrc"  # or .profile, .zshrc
      marker: "# {mark} RUST"
      block: |
        export CARGO_HOME="$HOME/.cargo"
        export RUSTUP_HOME="$HOME/.rustup"
        export PATH="$HOME/.cargo/bin:$PATH"