- name: Upload image
  ansible.windows.win_copy:
    src: './images/{{ image_name }}'
    dest: '{{ ansible_user_dir }}/Desktop'
    owner: foo
    group: foo
    mode: '0644'

- name: Set wallpaper
  ansible.windows.win_regedit:
    path: HKCU:\Control Panel\Desktop
    name: wallpaper
    data: '{{ ansible_user_dir }}\Desktop\{{ image_name }}'
    type: string
    state: present
    hive: C:\Users\Default\NTUSER.dat
