- name: Install dotnet
  win_chocolatey:
    name: dotnet4.6.1
    state: present
- name: Add to path
  ansible.windows.win_path:
    elements:
     - 'C:\Windows\Microsoft.NET\Framework\v4.0.30319\'
