---
- name: Install GDB apt
  ansible.builtin.apt:
    update_cache: true
    name: gdb
    state: latest
  become: true

- name: history remove-duplicates
  copy:
    content: "set history remove-duplicates"
    dest: "{{ ansible_user_dir }}/.gdbinit"

- name: Download PWNDBG
  git:
    repo: https://github.com/pwndbg/pwndbg.git
    dest: "{{ ansible_user_dir }}/tools/pwndbg"
    clone: yes
    update: yes

- name: install PWNDBG
  shell: 
    cmd: "./setup.sh"
    chdir: "{{ ansible_user_dir }}/tools/pwndbg"